Repository tiiiiiimmy/Snackwork: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-type-check, backend-format, backend-build

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'cd src/frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-type-check:
  name: Frontend TypeScript Check
  entry: bash -c 'cd src/frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

backend-format:
  name: Backend Code Format
  entry: bash -c 'cd src/backend/SnackSpotAuckland.Api && dotnet format --no-restore'
  language: system
  pass_filenames: false

backend-build:
  name: Backend Build Check
  entry: bash -c 'cd src/backend/SnackSpotAuckland.Api && dotnet build --no-restore'
  language: system
  pass_filenames: false

fix: Resolve backend test failures by fixing CI configuration and migration conflicts
  .github/workflows/ci.yml
  src/backend/SnackSpotAuckland.Api/Program.cs
Due: backend-format, backend-build

fix: Correct Azure Static Web Apps deployment configuration
  .github/workflows/azure-static-web-apps.yml
Due: none

docs: Update frontend README to trigger Azure Static Web Apps deployment
  src/frontend/README.md
Due: frontend-lint

chore: Update frontend configuration and dependencies
  src/frontend/.nvmrc
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/public/staticwebapp.config.json
  src/frontend/vite.config.ts
Due: frontend-lint, frontend-type-check

docs: Enhance README with project demonstration video and detailed feature descriptions
  README.md
Due: none

docs: Add Azure Static Web Apps Deployment Fix Guide
  AZURE_DEPLOYMENT_GUIDE.md
  src/backend/SnackSpotAuckland.Api/Middleware/InputValidationMiddleware.cs
  src/frontend/cypress.config.ts
  src/frontend/deploy.config.js
  src/frontend/src/config/environment.ts
  src/frontend/src/services/api.ts
  src/frontend/src/test/mocks/handlers.ts
  src/frontend/vite.config.ts
Due: frontend-lint, frontend-type-check, backend-format, backend-build

fix(cors): simplify CORS policy to only support production origins
  src/backend/SnackSpotAuckland.Api/Program.cs
Due: backend-format, backend-build

fix(cors): add actual Azure Static Web Apps URL to allowed origins
  src/backend/SnackSpotAuckland.Api/Program.cs
Due: backend-format, backend-build

refactor(tests): Improve ThemeToggle and SnackCard test structure and assertions
  src/frontend/src/components/Common/__tests__/ThemeToggle.test.tsx
  src/frontend/src/components/Snacks/__tests__/SnackCard.test.tsx
  src/frontend/src/services/__tests__/api.test.ts
  src/frontend/src/test/mocks/data.ts
Due: frontend-lint, frontend-type-check

chore: Remove outdated documentation files and add new product specification
  AZURE_DEPLOYMENT_GUIDE.md
  README.md
  docs/ARCHITECTURE.md
  plan/feature-snackspot-auckland-1.0.md
  plan/product-spec-v2.0.md
  plan/recommendation-implementation-v4.md
  plan/recommendation-system-options.md
  plan/spec-2.0.md
  plan/spec-design-snackspot-auckland.md
Due: none

feat(docs): Add architecture and coding standards documentation
  .gitignore
  docs/ARCHITECTURE.md
  docs/CODING_STANDARDS.md
Due: none

docs: Update architecture documentation to reflect recent structural changes
  docs/ARCHITECTURE.md
Due: none

docs: Revise architecture documentation to clarify directory structure and naming conventions
  docs/ARCHITECTURE.md
Due: none

docs: Update coding standards documentation to align with version 1.1
  docs/CODING_STANDARDS.md
Due: none

docs: Revise coding standards documentation to version 1.2, enhancing naming conventions and directory structure guidelines for frontend and backend development
  docs/CODING_STANDARDS.md
Due: none

docs: Add PR Review Checklist for SnackSpot Auckland v2.0 to standardize review process and ensure compliance with coding and architectural guidelines
  docs/PRReviewChecklist.md
  plan/product-spec-v2.0.md
Due: none

docs: Add comprehensive page design documentation for SnackSpot Auckland v2.0, detailing core pages, components, API interfaces, and mobile optimization strategies
  docs/PAGES_DESIGN.md
Due: none

docs: Clarify tag input options and update real-time update method in page design documentation
  docs/PAGES_DESIGN.md
Due: none

docs: add SnackSpot v2.0 architecture design spec
  docs/superpowers/specs/2026-04-06-snackspot-v2-design.md
Due: none

🐳 chore: Add SnackSpot solution file - Initialize .NET 10 solution for SnackSpot backend
  src/backend/SnackSpot.sln
Due: backend-build

🐳 chore: Add SnackSpot.Api project with NuGet dependencies - Add Pomelo EF Core MySQL, JwtBearer, FluentValidation, Swashbuckle - Add BCrypt.Net-Next for password hashing - Target net10.0 (LTS)
  src/backend/SnackSpot.Api/SnackSpot.Api.csproj
Due: backend-build

🐳 chore: Add default Program.cs scaffold - Generated by dotnet new webapi template
  src/backend/SnackSpot.Api/Program.cs
Due: backend-format, backend-build

🐳 chore: Add default appsettings.json - Template configuration file, will be replaced in Task 2
  src/backend/SnackSpot.Api/appsettings.json
Due: backend-build

🐳 chore: Add default appsettings.Development.json
  src/backend/SnackSpot.Api/appsettings.Development.json
Due: backend-build

🐳 chore: Add default launchSettings.json - Template launch configuration generated by dotnet new webapi
  src/backend/SnackSpot.Api/Properties/launchSettings.json
Due: backend-build

🐳 chore: Add default SnackSpot.Api.http - Template HTTP request file generated by dotnet new webapi
  src/backend/SnackSpot.Api/SnackSpot.Api.http
Due: backend-build

🐳 chore: Align EF Core InMemory version with EF Core 9.0.0 - Downgrade Microsoft.EntityFrameworkCore.InMemory from 10.0.0 to 9.0.0 - Match version with EF Core Design and Pomelo MySQL provider
  src/backend/SnackSpot.Api.Tests/SnackSpot.Api.Tests.csproj
Due: backend-build

🐳 chore: Configure appsettings.json with production structure - Add ConnectionStrings, Jwt, AllowedOrigins configuration sections - Leave sensitive values empty for environment variable override
  src/backend/SnackSpot.Api/appsettings.json
Due: backend-build

🐳 chore: Configure appsettings.Development.json for local dev - Add local MySQL connection string targeting snackspot_dev database - Add JWT dev secret and localhost CORS origin
  src/backend/SnackSpot.Api/appsettings.Development.json
Due: backend-build

✨ feat: Add User entity - Define core user fields including level and experience points - Add navigation properties for snacks, reviews, follows, refresh tokens
  src/backend/SnackSpot.Api/Models/Entities/User.cs
Due: backend-format, backend-build

✨ feat: Add RefreshToken entity - Define refresh token fields including expiry and revocation status - Add navigation property for User relationship
  src/backend/SnackSpot.Api/Models/Entities/RefreshToken.cs
Due: backend-format, backend-build

✨ feat: Add Category entity - Define category fields with optional icon and description - Add navigation properties for creator and snacks collection
  src/backend/SnackSpot.Api/Models/Entities/Category.cs
Due: backend-format, backend-build

✨ feat: Add Store entity - Define store fields including geolocation coordinates - Add navigation properties for creator and snacks collection
  src/backend/SnackSpot.Api/Models/Entities/Store.cs
Due: backend-format, backend-build

✨ feat: Add Snack entity - Define snack fields including pricing and aggregated rating stats - Add navigation properties for category, store, creator, images, tags, reviews, and view history
  src/backend/SnackSpot.Api/Models/Entities/Snack.cs
Due: backend-format, backend-build

✨ feat: Add SnackImage entity - Define snack image fields with display order for sorting - Add navigation property for Snack relationship
  src/backend/SnackSpot.Api/Models/Entities/SnackImage.cs
Due: backend-format, backend-build

✨ feat: Add SnackTag entity - Define snack tag fields for flexible tagging system - Add navigation property for Snack relationship
  src/backend/SnackSpot.Api/Models/Entities/SnackTag.cs
Due: backend-format, backend-build

✨ feat: Add Review entity - Define review fields including rating, comment, and like count - Add navigation properties for snack, user, and likes collection
  src/backend/SnackSpot.Api/Models/Entities/Review.cs
Due: backend-format, backend-build

✨ feat: Add ReviewLike entity - Define review like join entity linking reviews and users - Add navigation properties for Review and User relationships
  src/backend/SnackSpot.Api/Models/Entities/ReviewLike.cs
Due: backend-format, backend-build

Path conditions:
  frontend-lint: any of: ^src/frontend/
  frontend-type-check: any of: ^src/frontend/.*\.(ts|tsx)$
  backend-format: any of: ^src/backend/.*\.cs$
  backend-build: any of: ^src/backend/
