Repository tiiiiiimmy/Snackwork: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-type-check, backend-format, backend-build

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'cd src/frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-type-check:
  name: Frontend TypeScript Check
  entry: bash -c 'cd src/frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

backend-format:
  name: Backend Code Format
  entry: bash -c 'cd src/backend/SnackSpotAuckland.Api && dotnet format --no-restore'
  language: system
  pass_filenames: false

backend-build:
  name: Backend Build Check
  entry: bash -c 'cd src/backend/SnackSpotAuckland.Api && dotnet build --no-restore'
  language: system
  pass_filenames: false

refactor: Clean up code formatting and improve readability across multiple files
  src/backend/SnackSpotAuckland.Api/Controllers/V1/AuthController.cs
  src/backend/SnackSpotAuckland.Api/Controllers/V1/SnacksController.cs
  src/backend/SnackSpotAuckland.Api/Data/SnackSpotDbContext.cs
  src/backend/SnackSpotAuckland.Api/Middleware/ErrorHandlingMiddleware.cs
  src/backend/SnackSpotAuckland.Api/Middleware/InputValidationMiddleware.cs
  src/backend/SnackSpotAuckland.Api/Middleware/RateLimitingMiddleware.cs
  src/backend/SnackSpotAuckland.Api/Middleware/RequestLoggingMiddleware.cs
  src/backend/SnackSpotAuckland.Api/Migrations/20250115120000_UpdateLocationColumnsToGeometry.cs
  src/backend/SnackSpotAuckland.Api/Services/AuthService.cs
  src/backend/SnackSpotAuckland.Api/Services/IAuthService.cs
  src/frontend/src/components/Forms/LocationPicker.tsx
  src/frontend/src/components/Map/MapContainer.tsx
  src/frontend/src/context/AuthContext.ts
  src/frontend/src/context/AuthContext.tsx
  src/frontend/src/hooks/useAuth.ts
  src/frontend/src/hooks/useSnacks.ts
  src/frontend/src/services/api.ts
Due: frontend-lint, frontend-type-check, backend-format, backend-build

refactor: Update import paths and optimize state management in frontend components
  src/frontend/src/App.tsx
  src/frontend/src/components/Layout/Header.tsx
  src/frontend/src/components/Map/MapContainer.tsx
  src/frontend/src/pages/AddSnack.tsx
  src/frontend/src/pages/Login.tsx
  src/frontend/src/pages/Register.tsx
  src/frontend/src/pages/SnackDetail.tsx
Due: frontend-lint, frontend-type-check

feat: Add Cypress and Vitest configuration for end-to-end and unit testing
  src/frontend/cypress.config.ts
  src/frontend/cypress/e2e/auth.cy.ts
  src/frontend/cypress/e2e/snacks.cy.ts
  src/frontend/cypress/support/commands.ts
  src/frontend/cypress/support/e2e.ts
  src/frontend/package.json
  src/frontend/src/components/Common/LoadingSpinner.tsx
  src/frontend/src/components/Common/__tests__/LoadingSpinner.test.tsx
  src/frontend/src/components/Forms/LocationPicker.tsx
  src/frontend/src/components/Layout/Header.tsx
  src/frontend/src/components/Layout/MobileMenu.tsx
  src/frontend/src/components/Snacks/__tests__/SnackCard.test.tsx
  src/frontend/src/context/__tests__/AuthContext.test.tsx
  src/frontend/src/services/__tests__/api.test.ts
  src/frontend/src/test/mocks/data.ts
  src/frontend/src/test/mocks/handlers.ts
  src/frontend/src/test/mocks/server.ts
  src/frontend/src/test/setup.ts
  src/frontend/src/test/utils/test-utils.tsx
  src/frontend/src/utils/accessibility.ts
  src/frontend/vitest.config.ts
Due: frontend-lint, frontend-type-check

feat: Enhance logging and accessibility in authentication and middleware components
  src/backend/SnackSpotAuckland.Api/Controllers/V1/AuthController.cs
  src/backend/SnackSpotAuckland.Api/Middleware/InputValidationMiddleware.cs
  src/backend/SnackSpotAuckland.Api/Middleware/RateLimitingMiddleware.cs
  src/backend/SnackSpotAuckland.Api/Middleware/RequestLoggingMiddleware.cs
  src/backend/SnackSpotAuckland.Api/Middleware/SecurityHeadersMiddleware.cs
  src/backend/SnackSpotAuckland.Api/Services/AuthService.cs
  src/backend/SnackSpotAuckland.Api/api_logs.txt
  src/frontend/.eslintrc.cjs
  src/frontend/cypress.config.ts
  src/frontend/cypress/e2e/accessibility.cy.ts
  src/frontend/cypress/support/commands.ts
  src/frontend/src/components/Common/LoadingSpinner.tsx
  src/frontend/src/components/Forms/LocationPicker.tsx
  src/frontend/src/components/Map/MapContainer.tsx
  src/frontend/src/components/Snacks/SnackCard.tsx
  src/frontend/src/context/AuthContext.ts
  src/frontend/src/context/AuthContext.tsx
  src/frontend/src/services/__tests__/api.test.ts
  src/frontend/src/styles/components/_common.scss
  src/frontend/src/test/mocks/handlers.ts
  src/frontend/src/test/setup.ts
  src/frontend/src/test/utils/test-utils.tsx
  src/frontend/src/utils/accessibility.ts
  src/frontend/tsconfig.app.json
Due: frontend-lint, frontend-type-check, backend-format, backend-build

refactor: Standardize logging format and improve code readability in authentication and middleware
  src/backend/SnackSpotAuckland.Api/Controllers/V1/AuthController.cs
  src/backend/SnackSpotAuckland.Api/Middleware/InputValidationMiddleware.cs
  src/backend/SnackSpotAuckland.Api/Services/AuthService.cs
  src/frontend/src/types/api.ts
Due: frontend-lint, frontend-type-check, backend-format, backend-build

refactor: Update location handling in AddSnack component and related tests
  src/frontend/src/pages/AddSnack.tsx
  src/frontend/src/services/__tests__/api.test.ts
Due: frontend-lint, frontend-type-check

feat: Add CI/CD and security workflows for comprehensive testing and deployment
  .github/workflows-disabled/ci.yml
  .github/workflows-disabled/security.yml
  src/frontend/src/components/Map/MapContainer.tsx
  src/frontend/src/components/Snacks/SnackCard.tsx
  src/frontend/src/pages/SnackDetail.tsx
  src/frontend/src/types/api.ts
Due: frontend-lint, frontend-type-check

chore: Comment out dependency update configurations in dependabot.yml for npm, NuGet, and GitHub Actions
  .github/dependabot.yml
Due: none

feat: Implement comprehensive CI/CD, security workflows, and accessibility enhancements
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  docs/ARCHITECTURE.md
  scripts/developer-setup.sh
  src/backend/SnackSpotAuckland.Api/Filters/SwaggerOperationFilter.cs
  src/backend/SnackSpotAuckland.Api/Program.cs
  src/backend/SnackSpotAuckland.Api/SnackSpotAuckland.Api.csproj
  src/frontend/deploy.config.js
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/reports/.gitkeep
  src/frontend/scripts/accessibility-audit.js
  src/frontend/src/components/Filters/FilterBar.tsx
  src/frontend/src/services/__tests__/api.test.ts
  src/frontend/src/styles/components/_common.scss
  src/frontend/src/test/utils/test-utils.tsx
  src/frontend/src/utils/healthCheck.ts
  src/frontend/src/utils/performance.ts
Due: frontend-lint, frontend-type-check, backend-format, backend-build

refactor: Enhance type definitions and improve error handling in performance and health check utilities
  src/backend/SnackSpotAuckland.Api/Filters/SwaggerOperationFilter.cs
  src/frontend/src/components/Snacks/SnackCard.tsx
  src/frontend/src/pages/SnackDetail.tsx
  src/frontend/src/test/utils/test-utils.tsx
  src/frontend/src/types/api.ts
  src/frontend/src/utils/healthCheck.ts
  src/frontend/src/utils/performance.ts
Due: frontend-lint, frontend-type-check, backend-format, backend-build

refactor: Update test imports and improve API service tests with consistent naming and structure
  src/frontend/src/components/Common/__tests__/LoadingSpinner.test.tsx
  src/frontend/src/components/Snacks/__tests__/SnackCard.test.tsx
  src/frontend/src/context/AuthContext.ts
  src/frontend/src/context/AuthContext.tsx
  src/frontend/src/context/__tests__/AuthContext.test.tsx
  src/frontend/src/services/__tests__/api.test.ts
Due: frontend-lint, frontend-type-check

fix: Update security workflow to match current project structure
  .github/workflows/security.yml
Due: none

fix: Restore .NET security scanning with correct paths
  .github/workflows/security.yml
Due: none

fix: Update GitHub Actions to use .NET 9.0 and Node.js 20
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

fix: Update CI/CD to test actual test project and scan both projects
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

fix: Resolve all backend test compilation errors
  src/backend/SnackSpotAuckland.Tests/Controllers/AuthControllerTests.cs
  src/backend/SnackSpotAuckland.Tests/Controllers/ReviewsControllerTests.cs
  src/backend/SnackSpotAuckland.Tests/Controllers/SnacksControllerTests.cs
  src/backend/SnackSpotAuckland.Tests/Helpers/TestDataFactory.cs
  src/backend/SnackSpotAuckland.Tests/SnackSpotAuckland.Tests.csproj
  src/backend/SnackSpotAuckland.Tests/TestFixtures/WebApplicationFactoryFixture.cs
Due: backend-format, backend-build

fix: Update authentication to use email instead of username and enhance test data handling
  src/backend/SnackSpotAuckland.Api/Program.cs
  src/backend/SnackSpotAuckland.Tests/Controllers/AuthControllerTests.cs
  src/backend/SnackSpotAuckland.Tests/Controllers/SnacksControllerTests.cs
  src/backend/SnackSpotAuckland.Tests/Helpers/TestAuthHelper.cs
  src/backend/SnackSpotAuckland.Tests/Helpers/TestDataFactory.cs
  src/backend/SnackSpotAuckland.Tests/Middleware/InputValidationMiddlewareTests.cs
  src/backend/SnackSpotAuckland.Tests/Middleware/RateLimitingMiddlewareTests.cs
  src/backend/SnackSpotAuckland.Tests/TestFixtures/WebApplicationFactoryFixture.cs
Due: backend-format, backend-build

refactor: Improve review update and deletion logic in ReviewsController
  src/backend/SnackSpotAuckland.Api/Controllers/V1/ReviewsController.cs
  src/backend/SnackSpotAuckland.Api/Middleware/InputValidationMiddleware.cs
  src/backend/SnackSpotAuckland.Api/Middleware/RateLimitingMiddleware.cs
  src/backend/SnackSpotAuckland.Tests/Controllers/AuthControllerTests.cs
  src/backend/SnackSpotAuckland.Tests/Helpers/TestAuthHelper.cs
  src/backend/SnackSpotAuckland.Tests/TestFixtures/WebApplicationFactoryFixture.cs
Due: backend-format, backend-build

feat: Enhance SnacksController with filtering options and update snack management methods
  src/backend/SnackSpotAuckland.Api/Controllers/V1/SnacksController.cs
  src/backend/SnackSpotAuckland.Tests/Controllers/AuthControllerTests.cs
  src/backend/SnackSpotAuckland.Tests/Controllers/ReviewsControllerTests.cs
  src/backend/SnackSpotAuckland.Tests/Controllers/SnacksControllerTests.cs
  src/backend/SnackSpotAuckland.Tests/Helpers/TestAuthHelper.cs
  src/frontend/src/components/Filters/FilterBar.tsx
  src/frontend/src/hooks/useSnacks.ts
  src/frontend/src/pages/Home.tsx
  src/frontend/src/services/api.ts
Due: frontend-lint, frontend-type-check, backend-format, backend-build

refactor: Clean up whitespace and improve query formatting in SnacksController
  src/backend/SnackSpotAuckland.Api/Controllers/V1/SnacksController.cs
Due: backend-format, backend-build

refactor: Update ReviewsController response structure and enhance SnacksController parameter validation
  src/backend/SnackSpotAuckland.Api/Controllers/V1/ReviewsController.cs
  src/backend/SnackSpotAuckland.Api/Controllers/V1/SnacksController.cs
  src/backend/SnackSpotAuckland.Tests/Controllers/BasicControllerTests.cs
  src/backend/SnackSpotAuckland.Tests/Middleware/RateLimitingMiddlewareTests.cs
Due: backend-format, backend-build

chore: Update CI workflows and Dependabot configuration
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

fix(backend): Clean up whitespace and improve formatting in ImagesController StoresController and UsersController
  scripts/setup-git-hooks.sh
  src/backend/SnackSpotAuckland.Api/Controllers/V1/ImagesController.cs
  src/backend/SnackSpotAuckland.Api/Controllers/V1/StoresController.cs
  src/backend/SnackSpotAuckland.Api/Controllers/V1/UsersController.cs
Due: backend-format, backend-build

feat: Add UserProfile page and enhance snack management features
  src/frontend/src/App.tsx
  src/frontend/src/components/Categories/AddCategoryModal.tsx
  src/frontend/src/components/Layout/Header.tsx
  src/frontend/src/components/Reviews/ReviewCard.tsx
  src/frontend/src/components/Snacks/AddSnackModal.tsx
  src/frontend/src/components/Snacks/DeleteSnackModal.tsx
  src/frontend/src/components/Snacks/EditSnackModal.tsx
  src/frontend/src/pages/SnackDetail.tsx
  src/frontend/src/pages/UserProfile.tsx
  src/frontend/src/styles/main.scss
  src/frontend/src/types/api.ts
Due: frontend-lint, frontend-type-check

refactor: Enhance UI components and improve layout for FilterBar and Header
  src/frontend/src/components/Filters/FilterBar.tsx
  src/frontend/src/components/Layout/Header.tsx
  src/frontend/src/components/Snacks/SnackCard.tsx
  src/frontend/src/styles/main.scss
Due: frontend-lint, frontend-type-check

feat(tests): Add comprehensive unit tests for Auth, Categories, Images, Snacks, Stores, and Users controllers
  src/backend/SnackSpotAuckland.Tests/Controllers/AuthTestController.cs
  src/backend/SnackSpotAuckland.Tests/Controllers/CategoriesControllerTests.cs
  src/backend/SnackSpotAuckland.Tests/Controllers/ImagesControllerTests.cs
  src/backend/SnackSpotAuckland.Tests/Controllers/SnacksControllerTests.cs
  src/backend/SnackSpotAuckland.Tests/Controllers/StoresControllerTests.cs
  src/backend/SnackSpotAuckland.Tests/Controllers/UsersControllerTests.cs
  src/backend/SnackSpotAuckland.Tests/Helpers/TestDataFactory.cs
Due: backend-format, backend-build

feat(tests): Add AuthTestController unit tests for JWT token handling
  src/backend/SnackSpotAuckland.Tests/Controllers/AuthTestControllerTests.cs
  src/backend/SnackSpotAuckland.Tests/TestFixtures/WebApplicationFactoryFixture.cs
Due: backend-format, backend-build

refactor(tests): Remove AuthTestController and update verification in Stores and Users tests
  src/backend/SnackSpotAuckland.Tests/Controllers/AuthTestControllerTests.cs
  src/backend/SnackSpotAuckland.Tests/Controllers/StoresControllerTests.cs
  src/backend/SnackSpotAuckland.Tests/Controllers/UsersControllerTests.cs
Due: backend-format, backend-build

feat: Add theme switching functionality with context and toggle component
  README.md
  src/frontend/src/components/Common/ThemeToggle.tsx
  src/frontend/src/components/Common/__tests__/ThemeToggle.test.tsx
  src/frontend/src/components/Layout/Header.tsx
  src/frontend/src/context/ThemeContext.tsx
  src/frontend/src/main.tsx
  src/frontend/src/styles/_variables.scss
Due: frontend-lint, frontend-type-check

refactor: Update location handling in User model and remove unused migrations
  src/backend/SnackSpotAuckland.Api/Controllers/V1/UsersController.cs
  src/backend/SnackSpotAuckland.Api/Data/SnackSpotDbContext.cs
  src/backend/SnackSpotAuckland.Api/Migrations/20250115120000_UpdateLocationColumnsToGeometry.cs
  src/backend/SnackSpotAuckland.Api/Migrations/20250707143354_InitialCreate.Designer.cs
  src/backend/SnackSpotAuckland.Api/Migrations/20250707143354_InitialCreate.cs
  src/backend/SnackSpotAuckland.Api/Migrations/20250707160215_AddRefreshTokens.Designer.cs
  src/backend/SnackSpotAuckland.Api/Migrations/20250707160215_AddRefreshTokens.cs
  src/backend/SnackSpotAuckland.Api/Migrations/20250707181110_FixCategorySeedData.cs
  src/backend/SnackSpotAuckland.Api/Migrations/20250727003511_UpdateForSpecV2.Designer.cs
  src/backend/SnackSpotAuckland.Api/Migrations/20250727003511_UpdateForSpecV2.cs
  src/backend/SnackSpotAuckland.Api/Migrations/20250727092942_InitialAzureMigration.Designer.cs
  src/backend/SnackSpotAuckland.Api/Migrations/20250727092942_InitialAzureMigration.cs
  src/backend/SnackSpotAuckland.Api/Migrations/SnackSpotDbContextModelSnapshot.cs
  src/backend/SnackSpotAuckland.Api/Models/User.cs
  src/backend/SnackSpotAuckland.Api/Program.cs
Due: backend-format, backend-build

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-happy-mud-00e53cd00.yml
Due: none

Add or update the Azure App Service build and deployment workflow config
  .github/workflows/main_snackspot-auckland-api.yml
Due: none

fix: Update test files to remove references to User.Location property
  src/backend/SnackSpotAuckland.Tests/Helpers/TestDataFactory.cs
Due: backend-format, backend-build

feat: Add Azure Static Web Apps deployment configuration
  .github/workflows/azure-static-web-apps.yml
  .gitignore
  src/frontend/public/staticwebapp.config.json
Due: frontend-lint

fix: Update Azure Static Web Apps secret name to standard format
  .github/workflows/azure-static-web-apps.yml
Due: none

fix: Improve Azure Static Web Apps workflow configuration
  .github/workflows/azure-static-web-apps.yml
Due: none

fix: Correct app_location path and build command for Azure Static Web Apps
  .github/workflows/azure-static-web-apps.yml
Due: none

fix: Correct dotnet build paths and remove duplicate workflow
  .github/workflows/azure-static-web-apps-happy-mud-00e53cd00.yml
  .github/workflows/main_snackspot-auckland-api.yml
  src/backend/SnackSpotAuckland.Api/LogFiles/eventlog.xml
  src/backend/SnackSpotAuckland.Api/deployments/active
  src/backend/SnackSpotAuckland.Api/deployments/latest.json
Due: backend-build

Path conditions:
  frontend-lint: any of: ^src/frontend/
  frontend-type-check: any of: ^src/frontend/.*\.(ts|tsx)$
  backend-format: any of: ^src/backend/.*\.cs$
  backend-build: any of: ^src/backend/
